<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center;">Welcome to the Propane Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a routerLink="/admin/userListing">Users Listing</a >
        </div>
        <div class="col-md-6">
            <a routerLink="/admin/shiftListing">Shift Listing</a >
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
