<div class="form-outer">
    <div class="position-relative">
        <!-- <span class="back-arrow">
            <img src="../../assets/images/backArrow.svg">
        </span> -->
        <h4 class="form-heading mt-3">Current Shift</h4>
        <div class="subheading">
            Shift Data
            <span class="down-arrow"><img src="../../assets//down-arrow.svg"></span>
        </div>
    </div>

  <form>
    <div class="button-wrap">
      <div><button (click) = "handlePayout()" class="btn btn-bordered">Payout</button>
       <button (click) = "handlePriceChange()" class="btn btn-bordered mt-3">Price Change</button></div>
       <button (click) = "handleEndShift()" class="btn btn-secondary mt-3">End Shift</button>
  </div>
  </form>
</div>